// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.error {
  background: indianred;
  padding: 5px;
  border-radius: 10px;
  width: 22%;
  margin-bottom: 10px;
}
